.login-box{
    height: 450px;
    width: 400px;
    position: absolute;
    background-color: #f5f1ed;
    top: 200px;
    left: 150px;
    border-style: inset;
    border-color: rgb(193, 173, 173);
    box-shadow: whitesmoke;
}

.login-content{
    position: absolute;
    top: 50px;
    left: 100px;
}

.submit-button{
    position: absolute;
    top: 50px;
    left: 100px; 
}

.create-new-account-button{
    position: absolute;
    top: 150px;
    left: 30px;
}