@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

 body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  perspective: 1000px;
  background-color: rgb(245, 245, 245);
  height: 1180px;
  width: 100vw;
}

  

.cover{
  height: 1000px;
  width: 700px;
  position: absolute;
  background-color: #f2e5d9;
  background-image: url(./Images/background.png);
  top: 50px;
  left: 80px;
  box-shadow: 40px 0 100px rgba(0, 0, 0, .2);
  z-index: 2;
  transition: 1s ease-in-out;


}

.page1{
  box-shadow: 40px 0 100px rgba(0, 0, 0, 1);
  z-index: -1;
  top: 55px;
  left: 85px;
  background-color: #f2e5d9;
}

h1{
    text-align: center;
    font-family: 'Square Peg', cursive, sans-serif, monospace;
    font-size: 60px;
  }

  #light{
    background-color: white;
  }

/* Dark Theme  */
 #dark .cover{
    height: 1000px;
    width: 700px;
    background-image: url(./Images/dark.png);
    background-size: 710px;
    transition:1s ease-in-out;
    background-size: cover;

    /* filter: brightness(60%); */
  }

  #dark h1{
    color: #f2e5d9;
  }

  .switch-toggle{
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
  }

  