@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

 body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  perspective: 1000px;
  background-color: rgb(245, 245, 245);
  height: 1180px;
  width: 100vw;
}
  

.cover{
  height: 1000px;
  width: 700px;
  position: absolute;
  background-color: #f2e5d9;
  background-image: url(./Images/background.png);
  background-size: 100%;
  top: 50px;
  left: 80px;
  box-shadow: 40px 0 100px rgba(0, 0, 0, .2);
  z-index: 2;
  transition: background-image 1s ease-in-out;


}

.page1{
  box-shadow: 40px 0 100px rgba(0, 0, 0, 1);
  z-index: -1;
  top: 55px;
  left: 85px;
  background-color: #f2e5d9;
}

h1{
    text-align: center;
    font-family: 'Square Peg', cursive, sans-serif, monospace;
    font-size: 60px;
  }

  #light{
    background-color: white;
  }

/* Dark Theme  */
 #dark .cover{
    height: 1000px;
    width: 700px;
    background-image: url(./Images/dark.png);
    background-size: 710px;
    background-color: darkblue;
    transition: background-image 1s ease-in-out;
    background-size: cover;

    /* filter: brightness(60%); */
  }

  #dark h1{
    color: #f2e5d9;
  }

  .switch-toggle{
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    /* position: absolute; */

  }

  

  /* Animations */

  .pageCover{
    position: absolute;
    width: 700px;
    height: 1000px;
    top: 50px;
    left: 80px;
    background-color: #f2e5d9;
    transform-origin: -30px;
  }

  #dark .pageCover{
    background-color: rgba(40, 40, 56, 0.716);
  }

  .backwards{
    animation: back 1s;
    animation-fill-mode: backwards;
  }

  .forwards{
    animation: flip 1s;
    animation-fill-mode: forwards;

  }

  .dummySettings{
    z-index: 2;
    animation: hide .1s 1s;
    animation-fill-mode: forwards;
    transform-origin: left;
    
  }

 

  @keyframes flip {
    from{
      z-index: 2;
    }
    to{
        transform: rotateY(-360deg);
        z-index: -3;
    }
}

@keyframes back {
  from{
    z-index: -2
  }
  to{
      transform: rotateY(360deg);
      z-index: 3;
  }
}

@keyframes hide {
  from{z-index: 3s;}
  to{
    /* transform: rotateY(30deg); */
  z-index: -3}
}