@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');


.container-settings{
    height: 1000px;
    width: 700px;
    position: absolute;
    background-color: #f2e5d9;
    background-image: url(/Users/maisha/capstone-fullstack-app/frontend/note-it-down/src/Images/settings.png);
    background-size: 710px;
    top: 50px;
    left: 80px;
    box-shadow: 40px 0 100px rgba(0, 0, 0, .2);
    overflow-x: hidden;
    
  }

  .container-box{
      background: rgba(255, 255, 255, 0.701);
      width: 540px;
      height: 850px;
      margin: 0 auto;
      position: relative;
      margin-top: 10%;
      box-shadow: 2px 5px 20px rgba(119, 119, 119, .5)
  }

  .leftbox{
   float: left;
   top: -5%;
   left: 5%; 
   position: absolute;
   width: 25%;
   height: 110%;
   background: rgb(154, 177, 154);
   box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
   border: -1em solid white;
  }

  nav a {
      margin-top: 80px;
      list-style:none;
      padding: 50px;
      font-size: 2.1em;
      display: block;
      transition: all .3s ease-in-out;
  }

  nav a:hover{
      color: #563e3e70;
      cursor: pointer;
      transform: scale(1.2);
  }

  nav a:first-child{
    margin-top: 7px;  
  }

  /* nav a.tab-active{
      color: #10ac84;
  } */

  .rightbox{
      width: 75%;
      margin-left: 37%;
  }

  .tabShow{
      transition: all .5s ease-in;
      width: 80%;
  }

  h1 {
    font-family: 'Square Peg', cursive, sans-serif, monospace;
    font-size: 3.5rem;
    margin-top: 40px;
    margin-bottom: 35px;
  }

  h2{
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 25px;
    margin-left: 5px;
    margin-top: 30px;
  }

  .input,p {
      border: 0;
      border-bottom: 1px solid #c9b6b8;
      width: 80%;
      font-family: 'montserrate', sans-serif;
      font-size: 20px;
      color: #070707;
      outline: none;
  }

  p{
    margin-left: 5px;
    margin-top: 10px;
  }

  button{
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 15px;
      border: 0;
      background: rgb(161, 199, 161);
      padding: 7px 15px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
      cursor: pointer;
      margin-top: 15px;
  }

.tabShow{
    display: none;
}



  