@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.notesContainer {
  height: 1000px;
  width: 700px;
  position: absolute;
  background-image: url(../Images/settings.png);
  background-color: #f2e5d9;
  background-size: 710px;
  top: 50px;
  left: 80px;
  box-shadow: 40px 0 100px rgba(0, 0, 0, 0.886);
  /* overflow-y: auto; */
  
}

.container-box-notes{
  background: rgba(255, 255, 255, 0.844);
  width: 600px;
  height: 900px;
  margin: 0 auto;
  margin-top: 3%; 
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.583) 
}

.notesContainer button {
  background: #b2744191;
}

.notesContainer p {
  border-bottom: none;
  margin-bottom: 50px;
  margin-left: 10px;
  width: 75%;

}

.sidebar{
  position: absolute;
  background-color: #b2744191;
    width: 220px;
    height: 901px;
  
    display: inline-block;
    overflow-y: auto;
}

.sidebar p {
  font-size: medium;
}

.notes-main{
    /* border: solid black 2px; */
    width: 380px;
    height: 901px;
    float: right;
    word-break: break-all;
    /* overflow-y: auto; */
}


.sidebar-notes{
  width: 220px;
  overflow-y: scroll;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

.sidebar-header h1 {
  margin: 10px auto;
}

  .add-note-button{
    height: 50px;
    width: 180px;
    margin: 5px auto;
    border-radius: 25px;  
  }

  .app-sidebar-header h1 {
    margin: 0;
  }

  
  .sidebar-note {
    padding: 25px;
    width: auto;
    cursor: pointer;
  }
  .sidebar-note-title {
    display: flex;
    justify-content: space-between;
    font-family: 'Square Peg', cursive, sans-serif, monospace;

  }
  .sidebar-note button {
    border-radius: 20px;
    background: #b2744191;
    color: black;
  }

  .sidebar-note p {
    margin: 10px 0;
  }
  
  .title-input{
      display: block;
      width: 300px;
      margin-top: 20px;
      margin-left: 40px;
      margin-bottom: 20px;

      border-radius: 20px;
      background: #e8ddddb9;
      border: 1px solid #948484;
      padding-left: 20px;
      padding-top: 5px;
      font-size: 30px;
      letter-spacing: 1px;
      width: 300px;
      font-family: 'Square Peg', cursive, sans-serif, monospace;
      
  }

  .sidebar-note:hover {
    background: #e8dddd86;
  }
  .sidebar-note.active{
    background: #d69f72ab;

    color: white;
  }

  .content-input{
    margin-left: 40px;
    width: 300px;
    height: 300px;
    
    border-radius: 20px;
    background: #e8ddddb9;
    border: 1px solid #948484;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 30px;
    letter-spacing: 1px;
    width: 300px;
    font-family: 'Square Peg', cursive, sans-serif, monospace;
    
  }


  .preview-title{
    margin-left: 30px;
  }

  .preview-content{
    margin-left: 30px;
  }

  .no-note-shown{
    font-size: 40px;
    margin-left: 140px;
    /* border: solid black 2px; */
    width: 473px;
    height: 948px;
    float: right;
    display: flex;
  }

  .no-note-shown h2 {
    margin-left: 150px;  
    margin-top: 200px;  
    color: rgba(140, 177, 140, 0.619);

    

  }

  .back-to-contents{
    position: absolute;
    right: 15px;
    border-radius: 25px;
    /* display: inline-block; */
    
  }

  .search {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    height: 20px;
    width: 200px;
    border: solid black 1px;
  }
  
  .search input {
    border: none;
    
   
  }

  .search input::placeholder {
    font-size: 15px;
  }
  
  .search input:focus {
    outline: none;
  }



  .edit-button{
    border-radius: 25px;
    margin-bottom: 50px;
    margin-left: 100px;}
    
#note-save-btn{
  margin-left: 200px;
}

  /* DARK MODE */

  #dark .notesContainer{
    background-color: rgb(0, 34, 102)
    
  }

  #dark .preview-content{
    color: white;
  }

  
  
 