.notesContainer {
  position: absolute;
  height: 1000px;
  width: 700px;
  background-color: #f2e5d9;
  top: 50px;
  left: 80px;
  box-shadow: 40px 0 100px rgba(0, 0, 0, .2);  
}

.notesContainer button {
  background: #d8bac0ab;
}

.sidebar{
  position: absolute;
  background-color: #a14758ab;
    width: 220px;
    height: 901px;
  
    display: inline-block;
    overflow-y: auto;
}

.notes-main{
    /* border: solid black 2px; */
    width: 473px;
    height: 901px;
    float: right;
    word-break: break-all;
    overflow-y: auto;
   
}


.sidebar-notes{
  width: 220px;
  overflow-y: scroll;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

.sidebar-header h1 {
  margin: 10px auto;
}

  .add-note-button{
    height: 50px;
    width: 180px;
    margin: 5px auto;
    border-radius: 25px;
  
  }

  .app-sidebar-header h1 {
    margin: 0;
  }

  
  .sidebar-note {
    padding: 25px;
    width: auto;
    cursor: pointer;
  }
  .sidebar-note-title {
    display: flex;
    justify-content: space-between;
  }
  .sidebar-note button {
    border-radius: 20px;
    background: #d8bac0ab;
    color: red;
  }

  .sidebar-note p {
    margin: 10px 0;
  }
  
  .title-input{
      display: block;
      width: 500px;
      margin-top: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      
  }

  .sidebar-note:hover {
    background: #d8bac0ab;
  }
  .sidebar-note.active{
    background: rgb(71, 120, 227);
    color: white;
  }

  .content-input{
    margin-left: 20px;
    width: 500px;
    height: 300px
  }

  .preview-title{
    margin-left: 20px;
  }

  .preview-content{
    margin-left: 20px;
  }

  .no-note-shown{
    font-size: 40px;
    margin-left: 140px;
    /* border: solid black 2px; */
    width: 473px;
    height: 948px;
    float: right;
    display: flex;
  }

  .no-note-shown h2 {
    margin: 200px auto;
  }

  .back-to-contents{
    position: absolute;
    right: 15px;
    border-radius: 25px;
    /* display: inline-block; */
    
  }

  .search {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    height: 20px;
    width: 200px;
    border: solid black 1px;
  }
  
  .search input {
    border: none;
    
   
  }

  .search input::placeholder {
    font-size: 15px;
  }
  
  .search input:focus {
    outline: none;
  }

  .content-input{
    width: 430px;
  }

  .title-input{
    width: 430px;
  }


  .edit-button{
    border-radius: 25px;
  }

  /* DARK MODE */

  #dark .notesContainer{
    background-color: rgb(0, 34, 102)
    
  }

  #dark .preview-content{
    color: white;
  }

  
  
 