.sidebar{
    border: solid black 2px;
    width: 230px;
    height: 1000px;
    display: inline-block;
}

.notes-main{
    border: solid black 2px;
    width: 550px;
    height: 1000px;
   
    float: right;
   
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .add-note-button{
    display: block;
    height: 50px;
    width: 130px;
    margin-bottom: 10px;
    margin-left: 50px;
  
  }

  .app-sidebar-header h1 {
    margin: 0;
  }

  
  .sidebar-note {
    padding: 25px;
    cursor: pointer;
  }
  .sidebar-note-title {
    display: flex;
    justify-content: space-between;
  }
  .sidebar-note button {
    color: red;
  }
  .sidebar-note p {
    margin: 10px 0;
  }
  
  .title-input{
      display: block;
      width: 500px;
      margin-top: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      
  }

  .sidebar-note:hover {
    background: white;
  }
  .sidebar-note.active{
    background: rgb(71, 120, 227);
    color: white;
  }

  .content-input{
    margin-left: 20px;
    width: 500px;
    height: 300px
  }

  .preview-title{
    margin-left: 20px;
  }

  .preview-content{
    margin-left: 20px;
  }

  .no-note-shown{
    display: inline-block;
    font-size: 40px;
    margin-left: 140px;
  }

  .back-to-contents{
    display: block;
  }

  .search{
    display: flex;
    align-items: center;
    
    padding: 5px;
   
  }