.contents-page--page-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-column-count: 2;
    column-count: 2;
    overflow: hidden;
    list-style: none;
}



.contents-page--list-item{
    margin: 5px;
}

.cross-symbol{
    display: inline;
}

h1 #Category--heading{
margin-top: 0;
}
