

.contentPage--container{
  height: 1000px;
  width: 700px;
  position: absolute;
  background-color: #f2e5d9;
  top: 50px;
  left: 80px;
  box-shadow: 40px 0 100px rgba(0, 0, 0, .2);
}

.categoriesSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 250px);
}

.addNewCategory--component{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.contentPage--container h1{
    text-align:left;
}

.toDoList--label{
    text-align: left;
    display: inline;
    font-weight: normal;
    letter-spacing: normal;
    font-size: inherit;
    text-transform: none;
    padding: 0;
}

.toDoList--title{
    text-align: center !important;
}

.toDoList--content{
    margin-left: 10px;
    list-style: none;
}

.cover.dummy{
    top: 0;
    left: 0;
    animation: flip 2s 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transform-origin: -30px;
    z-index: 1;
}



@keyframes flip {
    from{
    }
    to{
        transform: rotateY(-360deg);
        z-index: -2;
    }
}

.contentPage--container svg{
    height: 2.5em;
    width: 2.5em;
    margin: 5px;
    position:fixed;
}